@{
    Layout = null;
}

<section class="about mb-5 text-white">
    <div class="about__content container__custom">
        <h3 class="py-5 font-weight-bold">Cửa Hàng</h3>
        <div class="about__details">
            <h1>CỬA HÀNG SỐNG THEO CÁCH CỦA BẠN</h1>
            <p class="py-3">Fashion Store có nhiều sản phẩm bắt kịp xu hướng, hiện đại, cá tính và liên tục cập nhật những sản phẩm thời trang phù hợp với thời đại.</p>
            <button class="btn btn-danger">HIỂU THÊM VỀ CHÚNG TÔI</button>
        </div>
    </div>
</section>
