@{
    ViewBag.Title = "GioiThieu";
    Layout = "~/Views/Share/_LayoutPage.cshtml";
}

<div class="main-content">
    <div class="content-page">
        <div data-aos="fade-up" data-aos-duration="1000">
            <h3 class="text-center font-weight-bold">TẠI SAO BẠN NÊN CHỌN FASHION STORE ?</h3>
            <p class="text-center pb-5">“ THỜI TRANG
            Fashion Store có nhiều sản phẩm bắt kịp xu hướng, hiện đại, cá tính và liên tục cập nhật những sản phẩm thời trang phù hợp với thời đại.”</p>
        </div>
        <div class="row bg-white">
            <div class="col-md-6 d-flex align-items-center justify-content-center" data-aos="fade-right" data-aos-duration="500">
                <div class="text-center text-justify">
                    <p>
                        CHẤT LƯỢNG 
                        Được ra đời vào 2016, nhưng chất lượng của Store đã được nhiều khách hàng đánh giá ở mức tốt.
                    </p>
                    <p>
                        UY TÍN
                        Fashion Store cam kết 100% tất cả sản phẩm tại cửa hàng đều là chính hiệu, chất liệu được sản xuất tại Italia và Korea. Và sẽ hoàn tiền 200% nếu sản phẩm lỗi.
                    </p>
                    <p>
                        NHIỆT TÌNH
                        Đến với Fashion Store khách hàng sẽ được trải nghiệm không gian thời trang đẳng cấp cùng với sự phục vụ tận tình của nhân viên tại cửa hàng
                    </p>
                </div>
            </div>
            <div class="col-md-6" data-aos="fade-left" data-aos-duration="500">
                <div class="bg-image">
                    <div class="sub-content">
                       
                    </div>
                </div>
            </div>
        </div>
      
    </div>

</div>
